.navbar-custom {
  background-color:#4f94cd;
  background-image:none;
  border-color:#4f94cd;
}

.navbar-inverse .navbar-brand {
  color:#fff;
}

.navbar-inverse .navbar-text {
  color:#63b8ff;
}



.brand {
  font-size:24px;
  font-family: Montserrat;
}

a {
  color:white;
}
