.navbar {
  min-height:50px;
}

.navbar-custom {
  background-color:#4f94cd;
  background-image:none;
  border-color:#4f94cd;
}

.navbar-inverse .navbar-brand {
  color:#fff;
}

.navbar-inverse .navbar-nav>li>a {
  color:#c6e2ff;
  font-family:'Montserrat', sans-serif;
}

.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover{
  color:#fff;background-color:#63b8ff
}

.brand {
  font-size:36px;
  font-family: 'Oswald', sans-serif;
}

.col-center {
   float: none;
   margin-right: auto;
   margin-left: auto;
}
